<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.misgod.pdbreader" android:versionCode="23"
	android:versionName="1.7" 	android:installLocation="auto">
	
	<supports-screens android:smallScreens="true" 
                  android:normalScreens="true" 
                  android:largeScreens="true" 
                  android:anyDensity="true"  />
	
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<provider android:name=".provider.PalmBookProvider"
			android:authorities="PalmBookProvider" 
			/>

		<activity android:name=".PalmBookReaderActivity"
		android:configChanges="orientation|keyboardHidden" />

		<activity android:name=".ColorListActivity"
		android:configChanges="orientation|keyboardHidden" />
		
		      <activity android:name=".NoSDCardActivity"
        android:configChanges="orientation|keyboardHidden" />


      <activity android:name=".SettingActivity"
        android:configChanges="orientation|keyboardHidden" />
    



		<activity android:name="BookListActivity" android:label="@string/app_name"
		android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		
		<uses-permission android:name="android.permission.SET_ORIENTATION" /> 
		
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	</application>
	<uses-sdk android:minSdkVersion="3" />
</manifest> 